.edf-filter-actions {
    align-items: center;
    display: inline-flex;
    gap: 8px;
}

.edf-search-share-button {
    min-width: auto;
}

.edf-filter-actions > button svg {
    height: 22px !important;
    width: 22px !important;
}

.edf-search-share-button > span:last-of-type {
    padding-left: 10px !important;
}
