body {
    margin: 0;
    min-width: 392px;
}

.edf-settings-popup {
    background: #fff;
    padding: 20px;
}

.edf-settings-popup .edf-settings-introduction {
    margin-bottom: 20px;
}

.edf-settings-popup .edf-settings-title {
    font-size: 22px;
    line-height: 30px;
}

.edf-settings-popup .edf-settings-description {
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
}

.edf-settings-popup .edf-settings-section + .edf-settings-section {
    margin-top: 16px;
    padding-top: 16px;
}

.edf-settings-popup .edf-settings-section-title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
}

.edf-settings-popup .edf-settings-row {
    min-height: 56px;
}

.edf-settings-popup .edf-settings-row-title {
    font-size: 14px;
    line-height: 20px;
}

.edf-settings-popup .edf-settings-row-description {
    font-size: 13px;
    line-height: 18px;
}
